# {{ volume.title }}

**Project code:** {{ project.project_code }}  
**Project:** {{ project.project_name }}  
**Version:** {{ project.version }}  
**Status:** {{ project.status }}  
**Revision date:** {{ project.revision_date }}  
**Language:** {{ project.language }}  

## {{ labels.revision_history }}

| Version | Date | Author | Notes |
|---|---|---|---|
| {{ project.version }} | {{ project.revision_date }} | {{ project.author }} | {{ labels.generated_note }} |

## {{ labels.mandatory_notice }}

{{ project.disclaimer }}

{{ labels.preliminary_review_sentence }}

## {{ labels.required_professional_review }}

{% for reviewer in project.review_required_by -%}
- {{ reviewer }}
{% endfor %}
{% for reviewer in volume.required_review -%}
- {{ reviewer }}
{% endfor %}

## {{ labels.assumptions }}

{% for assumption in volume.assumptions -%}
- {{ assumption }}
{% endfor %}

## {{ labels.limitations }}

{% for limitation in volume.limitations -%}
- {{ limitation }}
{% endfor %}

## {{ labels.main_content }}

{% for section in volume.sections -%}
### {{ section.heading }}

{% for line in section.lines -%}
{% if line.startswith("|") %}
{{ line }}
{% elif line == "" %}

{% else %}
- {{ line }}
{% endif %}
{% endfor %}

{% endfor -%}

{% if volume.qa_notes %}
## {{ labels.qa_notes }}

{% for note in volume.qa_notes -%}
- {{ note }}
{% endfor %}
{% endif %}
